// app global css in SCSS form
@font-face {
  font-family: Montserrat-ExtraBold;
  src: url(./fonts/Montserrat-ExtraBold.ttf);

}
@font-face {
  font-family: Montserrat-Regular;
  src: url(./fonts/Montserrat-Regular.ttf);

}


.text-signup {
  color: #000000;
}
.bg-signup {
  background: #FF1A1A;
}
