// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$dark-page:  #313131;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
$red       : #FF1A1A;
$menu      : #e83232;
$imgPath   : '/icons/';
$activeBgImg: '/icons/tab-hover.png';

$mobile    : 414px;

.imgMain{
  @media (max-width: 414px) {
    display: flex;
    flex-direction: column;
    justify-content:center;
  }
}

//mixins

@mixin form-1 {

    height: 761px;
    border-radius: 0;
    box-shadow: none;
    max-width: 30rem;
    margin: 70px 0 30px 0;
    padding: 0;
}

@mixin container-1 {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow: 2px 8px 8px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 8px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 8px 8px 0px rgba(0, 0, 0, 0.2);
}
